<div class="customer">
    <div class="d-flex navbar-expand-lg header">
        <div class="input-group align-items-center search-input">
            <img src='assets/img/iconSearch24.svg' alt="" />
            <input type="search" class="form-control"
                placeholder="Tìm kiếm khách hàng theo tên hoặc số điện thoại ..." aria-label="Search"
                aria-describedby="search-addon" [ngStyle]='{"border":"none"}' />
        </div>
        <div class="btn-group d-flex align-items-center">
            <button type="button" class="btn btn-excel">
                <img src='assets/img/iconExcel24.svg' alt="" [ngStyle]='{"marginRight":"12px"}' />
                <span>
                    Tải xuống Excel
                </span>
            </button>
            <button type="button" class="btn btn-upload">
                <img src='assets/img/iconUpload24.svg' alt="" [ngStyle]='{"marginRight":"12px"}' />
                <span>
                    Tải lên DSKH
                </span>
            </button>
            <button type="button" class="btn btn-add">
                <span>
                    Thêm mới
                </span>
            </button>
        </div>
    </div>
    <div class="customer-table">
        <table class="table" cellpadding="5">
            <thead>
                <tr>
                    <th>
                        TÊN KHÁCH HÀNG
                    </th>
                    <th>
                        SỐ ĐIỆN THOẠI
                    </th>
                    <th>
                        EMAIL
                    </th>
                    <th>
                        GIỚI TÍNH
                    </th>
                    <th>
                        NGÀY THAM GIA
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td class="d-flex align-items-center">
                        <img src='assets/img/iconAvatarCustomer.svg' alt="" />
                        <span>Đặng Tuấn Anh</span>
                    </td>
                    <td>
                        <span>0987654321</span>
                    </td>
                    <td>
                        <span>tuananh@gmail.com</span>
                    </td>
                    <td>
                        <span>Nam</span>
                    </td>
                    <td>
                        <span>20/07/2020</span>
                    </td>
                </tr>
                <tr>
                    <td class="d-flex align-items-center">
                        <img src='assets/img/iconAvatarCustomer.svg' alt="" />
                        <span>Đặng Tuấn Anh</span>
                    </td>
                    <td>
                        <span>0987654321</span>
                    </td>
                    <td>
                        <span>tuananh@gmail.com</span>
                    </td>
                    <td>
                        <span>Nam</span>
                    </td>
                    <td>
                        <span>20/07/2020</span>
                    </td>
                </tr>
                <tr>
                    <td class="d-flex align-items-center">
                        <img src='assets/img/iconAvatarCustomer.svg' alt="" />
                        <span>Đặng Tuấn Anh</span>
                    </td>
                    <td>
                        <span>0987654321</span>
                    </td>
                    <td>
                        <span>tuananh@gmail.com</span>
                    </td>
                    <td>
                        <span>Nam</span>
                    </td>
                    <td>
                        <span>20/07/2020</span>
                    </td>
                </tr>
                <tr>
                    <td class="d-flex align-items-center">
                        <img src='assets/img/iconAvatarCustomer.svg' alt="" />
                        <span>Đặng Tuấn Anh</span>
                    </td>
                    <td>
                        <span>0987654321</span>
                    </td>
                    <td>
                        <span>tuananh@gmail.com</span>
                    </td>
                    <td>
                        <span>Nam</span>
                    </td>
                    <td>
                        <span>20/07/2020</span>
                    </td>
                </tr>
                <tr>
                    <td class="d-flex align-items-center">
                        <img src='assets/img/iconAvatarCustomer.svg' alt="" />
                        <span>Đặng Tuấn Anh</span>
                    </td>
                    <td>
                        <span>0987654321</span>
                    </td>
                    <td>
                        <span>tuananh@gmail.com</span>
                    </td>
                    <td>
                        <span>Nam</span>
                    </td>
                    <td>
                        <span>20/07/2020</span>
                    </td>
                </tr>
                <tr>
                    <td class="d-flex align-items-center">
                        <img src='assets/img/iconAvatarCustomer.svg' alt="" />
                        <span>Đặng Tuấn Anh</span>
                    </td>
                    <td>
                        <span>0987654321</span>
                    </td>
                    <td>
                        <span>tuananh@gmail.com</span>
                    </td>
                    <td>
                        <span>Nam</span>
                    </td>
                    <td>
                        <span>20/07/2020</span>
                    </td>
                </tr>
                <tr>
                    <td class="d-flex align-items-center">
                        <img src='assets/img/iconAvatarCustomer.svg' alt="" />
                        <span>Đặng Tuấn Anh</span>
                    </td>
                    <td>
                        <span>0987654321</span>
                    </td>
                    <td>
                        <span>tuananh@gmail.com</span>
                    </td>
                    <td>
                        <span>Nam</span>
                    </td>
                    <td>
                        <span>20/07/2020</span>
                    </td>
                </tr>
                <tr>
                    <td class="d-flex align-items-center">
                        <img src='assets/img/iconAvatarCustomer.svg' alt="" />
                        <span>Đặng Tuấn Anh</span>
                    </td>
                    <td>
                        <span>0987654321</span>
                    </td>
                    <td>
                        <span>tuananh@gmail.com</span>
                    </td>
                    <td>
                        <span>Nam</span>
                    </td>
                    <td>
                        <span>20/07/2020</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="page navigation" class="page-pagination">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <img src='assets/img/iconPagiLeft.svg' alt="">
                </a>
            </li>
            <li class="page-item" routerLinkActive="pagination-active" #rla='routerLinkActive'>
                <a class="page-link active" href="#">01</a></li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link" href="#">04</a></li>
            <li class="page-item"><a class="page-link" href="#">05</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">20</a></li>
            <li class="page-item"><a class="page-link" href="#">21</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <img src='assets/img/iconPagiRight.svg' alt="">
                </a>
            </li>
        </ul>
    </nav>
</div>