<header class="navbar navbar-expand-lg ml-auto navbar-light border-bottom">
    <div class="d-flex">
        <ul class="navbar-nav mr-2 mt-2 mt-lg-0">
            <li class="nav-item">
                <a>Các sản phẩm</a>
            </li>
            <li class="nav-item">
                <a>Đơn hàng</a>
            </li>
            <li class="nav-item">
                <a>Nhán hiệu</a>
            </li>
            <li class="nav-item">
                <a>Thể loại</a>
            </li>
            <li class="nav-item">
                <a>Các nhà cung cấp</a>
            </li>
        </ul>
    </div>
</header>

<div class="staff">
    <div class="d-flex navbar-expand-lg header">
        <div class="input-group align-items-center">
            <button type="button" class="btn btn-day">
                <span>
                    Hôm nay
                </span>
            </button>
            <button type="button" class="btn btn-day">
                <span>
                    Ngày mai
                </span>
            </button>
            <button type="button" class="btn btn-dropdown">
                <span>
                    Chọn ngày
                </span>
                <img src='assets/img/iconDropdown16.svg' alt="" />
            </button>
        </div>
        <div class="btn-group d-flex align-items-center">
            <span
                [ngStyle]='{"width":"max-content", "font-size":"12px","font-weight":"500", "margin-top":"4px", "color":"#747588"}'>Nhân
                viên:</span>
            <button type="button" class="btn btn-dropdown">
                <span>
                    Tất cả nhân viên
                </span>
                <img src='assets/img/iconDropdown16.svg' alt="" />
            </button>
        </div>
    </div>
    <div class="staff-table">
        <table class="table" cellpadding="5">
            <thead>
                <tr>
                    <th>
                        Nhân viên
                    </th>
                    <th>
                        24/01 (THỨ 2)
                    </th>
                    <th>
                        25/01 (THỨ 3)
                    </th>
                    <th>
                        26/01 (THỨ 4)
                    </th>
                    <th>
                        27/01 (THỨ 5)
                    </th>
                    <th>
                        28/01 (THỨ 6)
                    </th>
                    <th>
                        29/01 (THỨ 7)
                    </th>
                    <th>
                        30/01 (CN)
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr class="tr-staff">
                    <td class="d-flex">
                        <img src='assets/img/iconAvatarCustomer.svg' alt="" />
                        <div>
                            <span>Đặng Tuấn Anh</span>
                            <p [ngStyle]='{"margin":"0","font-size":"12px", "font-weight":"400","color":"#747588"}'>48h
                            </p>
                        </div>
                    </td>
                    <td class="td-staff">
                        <!-- <span>07:00-18:00</span> -->
                    </td>
                    <td class="td-staff active">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff active">
                        <span>07:00-18:00</span>
                    </td>
                </tr>
                <tr class="tr-staff">
                    <td class="d-flex">
                        <img src='assets/img/iconAvatar.svg' alt="" />
                        <div>
                            <span>Hoàng Đức Anh</span>
                            <p [ngStyle]='{"margin":"0","font-size":"12px", "font-weight":"400","color":"#747588"}'>48h
                            </p>
                        </div>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <!-- <span>07:00-18:00</span> -->
                    </td>
                    <td class="td-staff active">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                </tr>
                <tr class="tr-staff">
                    <td class="d-flex">
                        <img src='assets/img/iconAvatar.svg' alt="" />
                        <div>
                            <span>Hoàng Đức Anh</span>
                            <p [ngStyle]='{"margin":"0","font-size":"12px", "font-weight":"400","color":"#747588"}'>48h
                            </p>
                        </div>
                    </td>
                    <td class="td-staff">
                        <!-- <span>07:00-18:00</span> -->
                    </td>
                    <td class="td-staff active">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff active">
                        <span>07:00-18:00</span>
                    </td>
                    <td class="td-staff">
                        <!-- <span>07:00-18:00</span> -->
                    </td>
                    <td class="td-staff">
                        <span>07:00-18:00</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>