<div class="booking">
    <div class="d-flex navbar-expand-lg header">
        <div class="input-group align-items-center">
            <button type="button" class="btn btn-day">
                <span>
                    Hôm nay
                </span>
            </button>
            <button type="button" class="btn btn-day">
                <span>
                    Ngày mai
                </span>
            </button>
            <button type="button" class="btn btn-dropdown">
                <span>
                    Chọn ngày
                </span>
                <img src='assets/img/iconDropdown16.svg' alt="" />
            </button>
        </div>
        <div class="btn-group d-flex align-items-center">
            <div class="btn-group d-flex align-items-center">
                <span
                    [ngStyle]='{"width":"max-content", "font-size":"12px","font-weight":"500", "margin-top":"4px", "color":"#747588"}'>NHÂN
                    VIÊN:</span>
                <button type="button" class="btn btn-dropdown">
                    <img class="booking-avatar" src='assets/img/iconAvatar36.svg' alt="" />
                    <span>
                        Huy Phạm
                    </span>
                    <img src='assets/img/iconDropdown16.svg' alt="" />
                </button>
            </div>
            <div class="btn-group d-flex align-items-center">
                <span
                    [ngStyle]='{"width":"max-content", "font-size":"12px","font-weight":"500", "margin-top":"4px", "color":"#747588"}'>LỌC
                    THEO:</span>
                <button type="button" class="btn btn-dropdown">
                    <span>
                        Tuần
                    </span>
                    <img src='assets/img/iconDropdown16.svg' alt="" />
                </button>
                <button type="button" class="btn btn-setting">
                    <img src='assets/img/iconSetting24.svg' alt="" />
                </button>
                <button type="button" class="btn btn-add">
                    <span>
                        Thêm mới
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="booking-table">
        <table class="table table-booking" cellpadding="5">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th class="th-lg">
                        <span>23</span>
                        <span> THỨ 2</span>
                    </th>
                    <th>
                        <span>24</span>
                        <span> THỨ 3</span>
                    </th>
                    <th>
                        <span>25</span>
                        <span> THỨ 4</span>
                    </th>
                    <th>
                        <span>26</span>
                        <span> THỨ 5</span>
                    </th>
                    <th>
                        <span>27</span>
                        <span> THỨ 6</span>
                    </th>
                    <th>
                        <span>28</span>
                        <span> THỨ 7</span>
                    </th>
                    <th>
                        <span>29</span>
                        <span> CHỦ NHẬT</span>
                    </th>
                </tr>

            </thead>
            <tbody class="tbo-booking">
                <tr class="tr-booking">
                    <p>07:00</p>
                    <td [ngStyle]='{"border-left":"1px solid #EDEEF6"}' class="td-booking">
                        <img class="m-0" src="assets/img/imageSeal.svg" alt="">
                    </td>
                    <td class="td-booking">
                        <img class="m-0" src="assets/img/imageSeal.svg" alt="">
                    </td>
                    <td class="td-booking">
                        <img class="m-0" src="assets/img/imageSeal.svg" alt="">
                    </td>
                    <td class="td-booking">
                        <img class="m-0" src="assets/img/imageSeal.svg" alt="">
                    </td>
                    <td class="td-booking">
                        <img class="m-0" src="assets/img/imageSeal.svg" alt="">
                    </td>
                    <td class="td-booking">
                        <img class="m-0" src="assets/img/imageSeal.svg" alt="">
                    </td>
                    <td class="td-booking">
                        <img class="m-0" src="assets/img/imageSeal.svg" alt="">
                    </td>
                </tr>
                <tr class="tr-booking">
                    <p>07:00</p>
                    <td [ngStyle]='{"border-left":"1px solid #EDEEF6"}' class="td-booking">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </td>
                    <td class="td-booking">
                        <div></div>
                        <div></div>
                    </td>
                    <td class="td-booking">
                        <div></div>
                        <div></div>
                    </td>
                    <td class="td-booking">
                        <div></div>
                        <div></div>
                    </td>
                    <td class="td-booking">
                        <div></div>
                        <div></div>
                    </td>
                    <td class="td-booking">
                        <div></div>
                        <div></div>
                    </td>
                    <td class="td-booking">
                        <div></div>
                        <div></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>